@import "custom";

body {
    background: $pink-700;

    #message-ES6 {
        color: $yellow-a700;
        font-size: 3em;
        text-align: center;
        background-color: $blue-700;
    }

}
